/*
该文件里面应该只定义一个map类型的变量$colors;
*/
@import "ya-color.scss";
@import "ya-size.scss";
@import "ya-style.scss";

$colors:(
    //主颜色
    pirmary:#3b5973 //摩托车漆面
    //副颜色
    ,secondary:#92b0bb //皮挂包
    //字体颜色
    ,text:#2d2d37 //摩托车轮胎
    //强调文本
    ,strong:#da5237 //尾灯
    //背景颜色
    ,background:#ecf5fa //地面的高亮
    //大片内容的背景色
    ,content:#e0e8ef //金属的反光
    //边框颜色
    ,border:#5b6196 // 金属的立柱
    //阴影颜色
    ,shaddow: #9fc2de //大理石上的阴影
    ,tab-title-backend:#c5a389
    ,tab-title-text:#542e1b
    ,tab-content-backend:#f1e2db
    ,tab-content-text:#320907
    ,tab-backend:#f8efea
    
    ,group-title-backend:#533324
    ,group-title-text:#eadfdd
    ,group-content-backend:#f5f4ef
    ,group-content-text:#3d1106
    //容器背景颜色
    ,container-background:#e0e8ef //金属的反光
    //容器的内容
    ,container-content:#e1e1e9 //女孩皮肤的蓝色混光
    //容器标题颜色
    ,container-title-background:#f4eac7 
    ,container-title-text:#2c202a //女孩的头发
    ,container-title-selected-background: #2c202a // 女孩染色头发
    ,container-title-selected-text:#f4eac7

    ,input-background:#f7f2ec //高亮的女孩的皮肤
    ,input-font:#533125 //女孩皮肤的暗调
    ,input-border:#522e16
    ,input-hover:#e2cdbc

    ,button-background:#a7908a // 女孩皮肤
    ,button-hover:#bda69e
    ,button-font:#300a09
    ,button-border:#5c321a
);

$sizes:(
    padding:7px
    ,margin:7px
    ,font:14px
    ,line:20px
);
$screen-hudge-width:1900px;
$screen-large-width:1680px;
$screen-medium-width:1280px;
$screen-small-width:1024px;
$screen-tiny-width:768px;




*{
    border:0;
    padding:0;
    margin:0;
    box-sizing: border-box;
    list-style: none;
}


.default-color{
    @include customize-colors($colors);
}
@media screen and (max-width: $screen-hudge-width){
    @include customize-sizes($sizes);
    .default-style{
        @include plat($colors,$sizes)
    }
}

