$fontSize:14px;
$spacing:5px;
$title-backend-color:#eee;
$title-front-color:#333;

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    border:0;
    font-size:$fontSize;
    word-wrap: break-all;
    word-break: break-word;
}

fieldset.doct{
    border:1px solid #ccc;
    background-color:#eee;
    color:#333;
    
    &>legend{
        background-color:#666;
        color:#eee;
        padding:$spacing;
        font-weight:bold;
        font-size:$fontSize*1.5;
    }
    .instructions{
        &>dt{
            font-weight: bold;
            padding:$spacing;
            
        }
        &>dd{
           
            padding:$spacing;

            line-height: $fontSize*1.5;
        }
       
    }
    dt.usages{
        display:none;
    }
    dd.usages{
        margin-top:$spacing;
        padding-top:$spacing;
        border-top:2px solid #999;
    }
    fieldset.usage{
        margin-top:$spacing;
        padding-top:$spacing;
        
        &>legend{
            width:100%;
            background-color: #bbb;
            padding:$spacing;
            font-weight: bold;
        }
        ul.codes{
            padding:$spacing*2;
            margin:$spacing;
            background-color:#333;
            color:#eee;
            ol.asserts{
                font-style:italic;
                background-color :#666;
                border:1px solid #999;
                padding: $spacing;
                margin:$spacing;
                border-radius:  $spacing;
            }
        }
    }

}
input,textarea,select,button{
    border:1px solid #ccc;
    border-radius: $spacing;
    padding:$spacing;
    margin:auto $spacing;
    background-color: #ddd;
    &:focus{
        background-color: #eee;
    }
    &:hover{
        border-color: #999;
    }
}
table{
    margin:$spacing;
    border:1px solid #999;
    border-radius: $spacing;
    border-collapse:collapse;
    thead{
        border-bottom: 1px solid #999;
    }
    td,th{
        border-left:1px solid #eee;
        border-bottom: 1px dashed #aaa;
        border-collapse:collapse;
        padding:$spacing;
    }
    th{
        border-bottom:2px solid #aaa;
        background-color:#e0e0e0;
    }
    tr{
        border-bottom: 1px dashed #999;
    }
}

ul,ol,dl{
    list-style: none inside;
}
