$fontSize:14px;
$spacing:5px;
$title-backend-color:#eee;
$title-front-color:#333;

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    border:0;
}
ul,ol,dl{
    list-style: none inside;
}
ul.subs{
    li{
        padding-left:$spacing;
    }
}
div.demo{
    background-color:#f9f9f9;
    border:1px solid #eee;
    border-radius: $spacing;
    padding:$spacing*2;
}
ol.samples{
    list-style:decimal outside;
    &>li{
        padding:$spacing*2;
        background-color:#333;
        color:#eee;
        font-size:$fontSize;

        pre{
           
            line-height: $fontSize*1.5;
        }
        ul.asserts{
            border:2px dashed #ddd;
            border-radius: $spacing;
            margin:$spacing;
            padding:$spacing;
            background-color: #666;
            color:#eee;
            text-decoration: underline;
            
            font-size:$fontSize*0.9;
            li.comment{
                text-decoration: none;
            }
        }
        
    }
}
ol.usages{
    list-style-type: decimal;
    list-style-position: outside;
    &>li{
        margin-left:$spacing;
    }
}
fieldset{
    margin:$spacing;
    legend{
        font-size:$fontSize*1.2;
        font-weight: bold;
        background-color: $title-backend-color;
        color: $title-front-color;
        width:100%;
        padding:$spacing;
    }
    dl.main{
        dt{
            font-weight: bold;
        }
        dd{
            margin-bottom: $spacing*2;
        }
    }
    dl.statistics{
        font-size:$fontSize*0.8;
        padding:$spacing;
        margin: $spacing;
        border:1px solid #ccc;
        display: flex;
        flex-flow: row wrap;
        font-style:italic;
        dt{
            font-weight: bold;
            margin-right:$spacing;
        }
        dd{
            margin-right:$spacing*2;
            
        }
        
    }
} 