//背景底色调
$backgroundColor:#f6f6f6;
//主色调
$mainColor:#000;
//容器面板背景色
$panelContentColor:#fff;
$panelBackendColor:#f6f6f6;
//阴影函数
$shadowColor: rgba(36, 37, 38, 0.08);

$fontSize:14px;
$margin:8px;
$padding:8px;
$borderRadius:8px;

$titleHeight:31px;

$frontColor:#eee;
$borderColor:#666;

$titleBackendColor:#ccc;
$titleFrontColor:#060606;

$contentBackendColor:#fff;


$liColors:#f5ad1b,#5f89ce,#94bf45,#da8ec5,#78bfc2,#bec278,#8e78c2,#c27878;


*{
    box-sizing: border-box;
    border:0;
    padding:0;
    margin:0;
    font-size:14px;
}
html,body{
    background-color: $backgroundColor;
}
.backgroundColor{
    background-color: $backgroundColor;
}
.shadowBox{
    padding:$padding;
    box-shadow: 2px 4px $margin*2 $shadowColor;
    border:1px solid $contentBackendColor;
    
    border-bottom-left-radius: $padding;
    border-bottom-right-radius: $padding;
    transition: box-shadow 0.25s ease, transform 0.25s ease;
    &:hover{
        box-shadow: 2px 4px $margin*3 darken($shadowColor,70%);
    }
}
ul{
    list-style: none;
}

.ya-mask{
    .ya-mask-backend{
        background-color:#000;
        opacity: 0.5;
    }
    .ya-mask-front{
        padding:$padding;
        background-color:$frontColor;
        border:1px solid $borderColor;
        border-radius: $borderRadius;
        
    }
}


.ya-selectable-panels{
    background-color: $panelBackendColor;
    padding:$padding;
    border:1px solid $panelContentColor;
    border-radius: $padding;
    div.ya-panel-item{
        margin:$margin*2 $margin;
        &>li.ya-panel-label{
            display:block;
            margin-left:$padding;
            &>label{
                display:block;
            }
        }
        &:first-child{
            margin-top:$margin;
        }
        &:last-child{
            margin-bottom: $margin;
        }
    }
    div.ya-panel-contents{
        background-color: $panelContentColor;
        @extend .shadowBox;
    }
    &>div.ya-panel-contents{
        padding:0;
        border-top:0;
        &>div.ya-panel-content{
            padding:$padding;
        }
    }
    

    &>ul.ya-panel-labels{
        padding:0 ;
        height:$titleHeight;
    }
    li.ya-panel-label{
        display: inline-block;
        position: relative;
        max-width:200px;
        min-width:60px;
        height:$titleHeight;
        overflow: hidden;
        
        color:lighten($titleFrontColor,35%);
        margin-left:-$titleHeight*0.3;
        padding:0 $titleHeight 0 0;
        cursor: pointer;
        z-index:0;
        &:first-child{
            margin-left:$padding;
        }
        &::after{
            position:absolute;
            top:-$titleHeight;
            right:0;
            
            height:$titleHeight;
            content:"";
            border-bottom:$titleHeight solid $titleBackendColor;
            border-right:$titleHeight solid transparent;
            border-left: 0;
            
        }
        &>label{
            display: inline-block;
            height:$titleHeight;
            cursor: pointer;
            background-color: $titleBackendColor;
            font-weight: bold;
            padding:$padding;
        }
       
        &.selected{
            color:$titleFrontColor;
            z-index:1;
           
        }
    }

    

    @each $c in $liColors{
        $i:index($liColors,$c);     
        ul.ya-panel-labels>li.ya-panel-label:nth-child( #{$i} )
        ,div.ya-panel-item:nth-child( #{$i})>li.ya-panel-label {  
            border-left:$titleHeight*0.2 solid $c;
            &::after{
                border-bottom-color:lighten($c,30%);
                border-right-color: transparent;
            }
            &>label{
                background-color:lighten($c,30%);
            }
            &:hover{
                background-color: lighten($c,30%);
                color:lighten($titleFrontColor,17%);
                
            }
            &.selected{
                &::after{
                    border-bottom-color:$c;
                    border-right-color: transparent;
                }
                &>label{
                    background-color:$c;
                }
            }
        }
        div.ya-panel-contents>div.ya-panel-content:nth-child(#{$i})
        ,div.ya-panel-item:nth-child( #{$i})>div.ya-panel-contents{
            border-top:$titleHeight*0.1 solid $c;
            &>div.ya-panel-content{
                border-top:0;
            }
        }
        
    }

}
div.ya-group.ya-selectable-panels{
    &>div.ya-panel-item>div.ya-panel-contents{
        padding:0;
    }
    &>div.selected>div.ya-panel-contents{
        padding:$padding;
    }
}